* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 30px 30px 200px 30px;
  grid-template-areas:
    "top-bar top-bar"
    "menu history"
    "results results"
    "memory history-memory"
    "keys keys";
}

#top-bar {
  grid-area: top-bar;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: violet;
}

.title {
  display: flex;
}

.img-app {
  padding: 0 20px 0 20px;
}

.name-app {
  width: auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 30px;
}

.minimalize {
  display: block;
  height: 1px;
  width: 10px;
}

.windowed {
  width: 10px;
  height: 10px;
}

.exit {
  position: relative;
}

.exit1,
.exit2 {
  position: absolute;
  display: block;
  width: 13px;
  height: 1px;
  transform: rotate(45deg);
}

.exit2 {
  transform: rotate(-45deg);
}

.menu {
  grid-area: menu;
  background-color: aqua;
}

.history {
  grid-area: history;
  background-color: black;
}

.display-result {
  grid-area: results;
  background-color: blue;
}

.memory {
  grid-area: memory;
  background-color: blueviolet;
}

.history-memory {
  grid-area: history-memory;
  background-color: brown;
}

.keys {
  grid-area: keys;
  background-color: yellow;
}
