* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 40px 30px 150px 30px;
  grid-template-areas:
    "top-bar top-bar"
    "menu history"
    "results results"
    "memory history-memory"
    "keys keys";
  gap: 2px;
}

#top-bar {
  grid-area: top-bar;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
}

.img-app {
  padding: 0 20px 0 20px;
}

.name-app {
  width: auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 30px;
}

.minimalize {
  display: block;
  height: 1px;
  width: 10px;
}

.windowed {
  width: 10px;
  height: 10px;
}

.exit {
  position: relative;
}

.exit1,
.exit2 {
  position: absolute;
  display: block;
  width: 13px;
  height: 1px;
  transform: rotate(45deg);
}

.exit2 {
  transform: rotate(-45deg);
}

.menu {
  grid-area: menu;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40px;
  height: 30px;
  padding: 7.5px 0;
}

.menu-icon-bar {
  width: 15px;
  height: 2px;
}

.history,
.history-key {
  display: flex;
  justify-content: center;
}

.history {
  grid-area: history;
}

.history-key {
  width: 30px;
  height: 30px;
  align-items: center;
}

.history-window,
.memory-window {
  width: 100%;
  height: 100%;
  position: fixed;
  transform: scaleY(0);
}

.history-window.active,
.memory-window.active {
  transform: scaleY(100%);
}

.history-top-background,
.memory-top-background {
  width: calc(100% - 12px);
  height: 250px;
}

.display-history,
.display-memory {
  bottom: 12px;
  width: calc(100% - 12px);
  height: calc(100% - 262px);
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.history-elements,
.memory-elements {
  overflow: scroll;
  width: 100%;
  height: calc(100% - 60px);
}

.ul-in-history-element,
.ul-in-memory-element {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  padding: 5px 10px;
  margin-top: 10px;
}

.binHandle {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bin {
  font-size: 1.2rem;
  opacity: 0.7;
}

.display-result {
  grid-area: results;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
  gap: 10px;
}

.input-storage {
  height: 20px;
}

.operation {
  height: 17px;
}

.memory {
  grid-area: memory;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}

.history-memory {
  grid-area: history-memory;
  display: grid;
}

.ul-in-memory-element {
  height: 72px;
}

.div-memory-operations {
  width: 100%;
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1px;
}

.ul-in-memory-element:hover .div-memory-operations {
  display: flex;
}

.span-operation {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#keys {
  grid-area: keys;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 2px;
}

.key {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
